.ratings-row {
  display:none !important;
}
.container {
  max-width: none !important;
  background-image: url('https://i.imgur.com/rVllzRB.png');
}
h1 {
 color:#F3CB77;
}

h2 {
 color:#E18737;
}

h3 {
   color: #E18737;
  }

h4{
   color:  #E18737 ;
}


.ratings-container{
	background-color: #2D1605;
	border:solid;
	border-color: #E18737;
	border-radius: 15px;
	padding: 5px;
}

.avatar-container {
	border: 3px solid #E8AF20; 
	background: black; 
	border-radius:15px;
	/*background: #6F260A;*/
}

.rating-entry{
  color: #F3CB77;
}

.avatar-container .Player-username {
    color: #F3CB77;
}

.active-games{
	background-color:#FFB6C1;
	 border:solid;
	 border-color: #8f00ff;
}

.move-number{
  color: #F3CB77;
}

.game-name{
  color: #F3CB77;
}

.Clock {
  color: #F3CB77;
}

.size {
  color: #F3CB77;
}

.Player-username {
  color: #F3CB77;
}

.Player-rank {
  color: #F3CB77;
}

.game_name {
  color: #F3CB77;
}

.board_size {
  color: #F3CB77;
}

.date {
  color: #F3CB77;
}

.user_info {
  color: #F3CB77;
}

.sortable {
  color: #228B22;
}
