.ratings-row {
	display:none !important;
}
.container {
	max-width: none !important;
	background-image: url('https://i.imgur.com/rVllzRB.png');
}
h1 {
	color:#F3CB77;	
}

h2, h3, h4 {
	color:#E18737;
}

.ratings-container{
	background-color: #2D1605;
	border:solid;
	border-color: #E18737;
	border-radius: 15px;
	padding: 5px;
}
.about-container{
	scrollbar-color: red orange;
	scrollbar-width: thin;
	overflow: scroll;
}

.avatar-container {
	border: 3px solid #E8AF20; 
	background: black; 
	border-radius:15px;
	/*background: #6F260A;*/
}

.active-games{
	background-color:#FFB6C1;
	 border:solid;
	 border-color: #8f00ff;
}

.user_info, .date, .board_size, .game_name, .Player-rank, .Player-username, .size, .Clock, .game-name, .move-number, .avatar-container .Player-username, .rating-entry {
	color: #F3CB77;
}

.sortable {
	color: #228B22;
}

#default-variant-container > div.User.container > div.row > div.col-sm-4 > div:nth-child(1) > div {
	height: 550px; 
	background-image:url('https://i.imgur.com/VQXIgRP.jpeg'); 
	background-repeat:repeat-y;
	background-position:right;
}
