.ratings-row {
	display:none !important;
}
.container {
	max-width: none !important;
	background-image: url('https://i.imgur.com/rVllzRB.png');
}
h1 {
	color:#F3CB77;	
	text-shadow: 3px 3px 5px #2f0f08;
}

h2, h3, h4 {
	color:#E18737;
	text-shadow: 2px 2px 3px #2f0f08;
}

.ratings-container{
	background-color: #a41d1a;
	border:solid;
	border-color: #E18737;
	border-radius: 10px;
	padding: 5px;
}
.body.accessible .User .ratings-grid .rating-entry.unset, body.dark .User .ratings-grid .rating-entry.unset {
	color: #2d1605 !important;
}

.about-container{
	scrollbar-color: red orange;
	scrollbar-width: thin;
	overflow: scroll;
	max-height: 2300px;
}

.avatar-container {
	border: 3px solid #E8AF20; 
	background: black; 
	border-radius: 10px;
	/*background: #6F260A;*/
}

.active-games{
	background-color: #E18737;
	border: solid;
	border-color: #E18737;
}

.user_info, .date, .board_size, .game_name, .Player-rank, .Player-username, .size, .Clock, .game-name, .move-number, .avatar-container .Player-username, .rating-entry {
	color: #F3CB77;
}

.sortable {
	color: #228B22;
}
#app-content > div > div.row > div.col-sm-4 {
	display: none;
}

#app-content > div > div.row > div.col-sm-8 {
	margin: auto;
}

.avatar-and-ratings-row {
 	justify-content: center !important;
}

#app-content > div > div:nth-child(1) > div > div > div.avatar-container
{
	margin-right: 20px;
}

#app-content > div > div.row > div.col-sm-4 > div:nth-child(1) > div
{
	/*background-image:url('https://i.imgur.com/VQXIgRP.jpeg'); 
	background-position: top;
	background-repeat: repeat-y;
	background-position: right;
	min-height: 705px;*/
}
#default-variant-container > div.User.container > div.row > div.col-sm-4 > div:nth-child(1) > div > .trophies {
	display: none;
}
#default-variant-container > div.User.container > div.row > div.col-sm-4 > div:nth-child(1) > div > h3 {
	display: none;
}
